/* Universal CSS elements */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(92, 206, 136);
}

/* General CSS for index.html */
.primaryBox {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(106, 214, 135);
}

.primaryBoxHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: rgba(186, 186, 186, 0);
}

/* General CSS for Caclulator and nether-overworld converter */
.header {
    padding-bottom: 40px;
    /* Added padding for Header template layouts */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.toolSection1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(186, 186, 186, 0.882);
}

.toolSection2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    padding: 20px;
}

.intro {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 1200px;
}

.intro2 {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    align-self: center;
}


li {
    display: flex;
    align-items: center;
}

li a {
    padding: 10px 20px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    display: block;
}

.tablogo {
    max-width: 50px;
    padding-right: 10px;
}

h1 {
    font-size: 70px;
    color: rgb(0, 0, 0);
    padding: 0px 40px 0px 40px;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    /* or any other properties you want to apply */
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(11, 14, 16);
    /* Remove border */
    outline: none;
    /* Remove outline */
    font-size: 20px;
    height: 60px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border-radius: 10px;
}

button.alternate {
    background-color: rgb(92, 206, 136);
    color: rgb(0, 0, 0);
    /* Remove border */
    outline: none;
    /* Remove outline */
    font-size: 20px;
    height: 60px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border-radius: 10px;

}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(67, 133, 187);
}

li a:hover {
    background-color: rgb(67, 133, 187);
    color: rgb(255, 255, 255);
}


/* header template 1 */

.tabs {
    display: flex;
    justify-content: center;
    /* This will center the li elements */
    list-style-type: none;
    /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img.logo {
    max-width: 80%;
    min-width: 200px;
}


.left-side,
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mid {
    background-color: black;
    height: 60px;
}


.sectionaltype {
    background-color: rgb(67, 133, 187);
    color: white;
    border-radius: 10px;
    padding: 5px;
    min-width: 70px;
}

/* header Template 2 */
/* ----------------------------------------------------------------------------------- */



.tabs2 {
    display: flex;
    justify-content: left;
    /* This will center the li elements */
    list-style-type: none;
    /* Remove bullet points */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left-side2 h1 {
    font-size: 70px;
    color: rgb(0, 0, 0);
    padding: 0px 40px 0px 40px;
}


.left-side2 {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* header Template 3 */
/* ----------------------------------------------------------------------------------- */


.tabs3 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: sticky;
    padding: 0;
}

/* The below three take up the top part of the screen, splitting into sections 

.leftli and rightli take up 1/4 each and are positioned in their respective corners
.centerli takes up the middle section of 2/4 and is centered (else would be more left*/
.leftli3 {
    flex-grow: 0;
}

.centerli3 {
    display: flex;
    justify-content: left;
    flex-grow: 2;
}

.rightli3 {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    margin: 10px;
}

.tabbutton3 {
    background-color: rgb(67, 133, 187);
    color: white;
    border: none;
    /* Remove border */
    outline: none;
    /* Remove outline */
    font-size: 10px;
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 0px;
    border-radius: 10px;

}

.left-side3 h1 {
    font-size: 70px;
    color: rgb(0, 0, 0);
    padding: 0px 40px 0px 40px;
}


.left-side3 {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.headerbuttons3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

img.logo3 {
    max-width: 60%;
    min-width: 200px;
    margin: 20px;
}

/* header Template 4 */
/* ----------------------------------------------------------------------------------- */


.tabs4 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: sticky;
    padding: 0;
}

/* The below three take up the top part of the screen, splitting into sections 

.leftli and rightli take up 1/4 each and are positioned in their respective corners
.centerli takes up the middle section of 2/4 and is centered (else would be more left*/
.leftli4 {
    flex-grow: 1;
}

.centerli4 {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.rightli4 {
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

.tabbutton4 {
    background-color: rgb(67, 133, 187);
    color: white;
    border: none;
    /* Remove border */
    outline: none;
    /* Remove outline */
    font-size: 10px;
    height: 60px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    border-radius: 10px;

}

.left-side4 h1 {
    font-size: 70px;
    color: rgb(0, 0, 0);
    padding: 0px 40px 0px 40px;
}


.left-side4 {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.headerbuttons4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

img.logo4 {
    max-width: 60%;
    min-width: 200px;
    margin: 20px;
}


/* header Template 5 */


/* header Template 6 */
input {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 400px;
    height: 20px;
}



/* ----------------------------------------------------------------------------------- */



/* header Template 12 */

.image-container {
    position: relative;
}

.image-content {
    position: absolute;
    top: 50%;
    /* Adjust these values to move the button */
    left: 50%;
    /* Adjust these values to move the button */
    transform: translate(-50%, -50%);
    /* This centers the button */
}

.image-content2 {
    position: absolute;
    top: 50%;
    /* Adjust these values to move the button */
    left: 50%;
    /* Adjust these values to move the button */
    transform: translate(-50%, -50%);
    /* This centers the button */
    color: #fff; /* Change text color to white */
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent black background */
}

.image-content3 {
    position: absolute;
    top: 50%;
    /* Adjust these values to move the button */
    left: 50%;
    /* Adjust these values to move the button */
    transform: translate(-175%, 72%);
    /* This centers the button */
    color: #fff; /* Change text color to white */
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent black background */
}





/* blog Template 1 */
.blog-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;

}

.blog-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;

}

.blog-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.blog-left2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 1000px;
    padding: 20px;
    
}

.blog-center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 1000px;

}

.blog-right2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 1000px;
    padding: 20px;
}


.blog-left3 {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding: 5px;

}

.label1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding: 5px;
}

.blogPhoto {
    min-width: 400px;
    max-width: 80%;
    border: 2px solid black;
}

.blogPhoto2 {
    min-width: 400px;
    max-width: 1000px;
}


.boldtext {
    border-left: 2px solid black;
    padding: 20px;
}

.blog-content {
    border-bottom: 2px solid black;
    margin: 20px;

}

.blogtype {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    max-width: 70px;
}

.blogbutton {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* the below is the words coloring/style */
.blogbutton a {
    color: white;
}


/* Testimonial Template info */
.testimPhoto {
    min-width: 50px;
    max-width: 100px;
}

/* General CSS attempt for formatting */

.sec-piece {
    display: flex;
    align-self: top;
    justify-content: top;
    flex-direction: column;
    background-color:rgba(179, 102, 50, 0.887);
    margin: 10px;
    padding: 30px;
    min-width: 30%;
    max-width: 40%;
    height: auto;
}

.sec-piece2 {
    display: flex;
    align-self: top;
    justify-content: top;
    flex-direction: column;
    background-color:rgba(162, 54, 45, 0.973);
    margin: 10px;
    padding: 30px;
    min-width: 30%;
    max-width: 40%;
    height: auto;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.input-group label {
    margin-right: 0.5em;
    font-weight: bold;
}

.input-group input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* testing loading logo


.limiting-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
}



/* testing loading logo*/

#container {
    width: 120px;
    height: 120px;
    background: green;
    position: relative;
}

#box {
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    bottom: 0;
    position: absolute;
}